In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploring the Data

In [9]:
# First, I'm just going to get a sense of the  data I'm working with here. 

first_row_measurement = session.query(Measurement).first()
first_row_measurement.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1c371b65720>,
 'station': 'USC00519397',
 'prcp': 0.08,
 'date': '2010-01-01',
 'tobs': 65.0,
 'id': 1}

In [10]:
first_row_station = session.query(Station).first()
first_row_station.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1c371b66380>,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397',
 'longitude': -157.8168,
 'id': 1,
 'latitude': 21.2716,
 'elevation': 3.0}

In [11]:
for row in session.query(Measurement.id, Measurement.station, Measurement.prcp, Measurement.date, Measurement.tobs).limit(10).all():
    print(row)

(1, 'USC00519397', 0.08, '2010-01-01', 65.0)
(2, 'USC00519397', 0.0, '2010-01-02', 63.0)
(3, 'USC00519397', 0.0, '2010-01-03', 74.0)
(4, 'USC00519397', 0.0, '2010-01-04', 76.0)
(5, 'USC00519397', None, '2010-01-06', 73.0)
(6, 'USC00519397', 0.06, '2010-01-07', 70.0)
(7, 'USC00519397', 0.0, '2010-01-08', 64.0)
(8, 'USC00519397', 0.0, '2010-01-09', 68.0)
(9, 'USC00519397', 0.0, '2010-01-10', 73.0)
(10, 'USC00519397', 0.01, '2010-01-11', 64.0)

In [12]:
for row in session.query(Station.station, Station.name, Station.longitude, Station.id, Station.latitude, Station.elevation):
    print(row)

('USC00519397', 'WAIKIKI 717.2, HI US', -157.8168, 1, 21.2716, 3.0)
('USC00513117', 'KANEOHE 838.1, HI US', -157.8015, 2, 21.4234, 14.6)
('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', -157.8374, 3, 21.5213, 7.0)
('USC00517948', 'PEARL CITY, HI US', -157.9751, 4, 21.3934, 11.9)
('USC00518838', 'UPPER WAHIAWA 874.3, HI US', -158.0111, 5, 21.4992, 306.6)
('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', -157.71139, 6, 21.33556, 19.5)
('USC00519281', 'WAIHEE 837.5, HI US', -157.84888999999998, 7, 21.45167, 32.9)
('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', -157.9992, 8, 21.3152, 0.9)
('USC00516128', 'MANOA LYON ARBO 785.2, HI US', -157.8025, 9, 21.3331, 152.4)

In [13]:
count_measurement = session.query(Measurement).count()
count_measurement

19550

In [14]:
count_station = session.query(Station).count()
count_station

9

# Exploratory Precipitation Analysis

In [42]:
# Find the most recent date in the data set.
most_rec_date = session.query(func.max(Measurement.date)).all()
most_rec_date

[('2017-08-23',)]

In [43]:
# Looking at another way to do the above query:

latest_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
latest_date

('2017-08-23',)

In [47]:
# I can find the date if I hard code it...

past_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print(past_year)

2016-08-23

In [56]:
past_year_y = dt.date(past_year).strftime("%d")

TypeError: 'datetime.date' object cannot be interpreted as an integer

In [57]:
dt.date.today().strftime("%Y")

'2023'

In [54]:
past_12 = dt.date(latest_date) - dt.timedelta(days=365)
past_12

TypeError: 'Row' object cannot be interpreted as an integer

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 

# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the date and precipitation scores


# Save the query results as a Pandas DataFrame. Explicitly set the column names


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calculate the summary statistics for the precipitation data

# Exploratory Station Analysis

In [79]:
# Design a query to calculate the total number of stations in the dataset
number_stations = session.query(Measurement).group_by(Measurement.station).count()
number_stations

9

In [ ]:
# I'm not sure the above is right -- let's come back and try that again.

In [97]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
# List the stations and their counts in descending order.


# HMMM, THIS IS ORDERING BY THE STATION ID NUMBER ITSELF, NOT THE COUNT NUMBER. 

station_activity = session.query(Measurement.station, func.count(Measurement.station)).group_by(Measurement.station).order_by(Measurement.station.desc()).all()
station_activity

[('USC00519523', 2669),
 ('USC00519397', 2724),
 ('USC00519281', 2772),
 ('USC00518838', 511),
 ('USC00517948', 1372),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00513117', 2709),
 ('USC00511918', 1979)]

In [98]:
# Need to get it ordered by the descending count instead...

station_activity = session.query(Measurement.station, func.count(Measurement.station)).group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()
station_activity

# THAT WORKED! BUT IS THERE A SIMPLER WAY TO DO THAT?

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

# HARD CODE THE MOST ACTIVE ID HERE? HOW WOULD YOU DO THIS AS A VARIABLE?

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close Session

In [ ]:
# Close Session
session.close()